<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
ID : <input type="text" id="userId" value="" /><br/>
PW : <input type="password" id="password" value="" />
<input type="button" onclick="login();" value="login" />
</body>
</html>